html {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'LexendDeca-Regular';
  color: #000;
  background-color: #f7f7f7;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 15px 0px;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  font-family: 'LexendDeca-Regular';
  color: #000;
  display: block;
  text-align: left;
  letter-spacing: 1px;
}
p {
  margin: 0px;
  padding: 15px 0px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'LexendDeca-Light';
  display: block;
  letter-spacing: 1px;
  color: #000;
  text-align: left;
}
.divstyle {
  padding: 0px;
  margin: 0px;
  height: 0px;
}
.radiolist{
  background-color: #fff;
  display: block;
  padding: 15px 0px;
  box-sizing: border-box;
}
.radiolist label{
  color: #000;
  font-size: 14px;
  font-family: 'LexendDeca-Regular';
  padding-right: 30px;
}
.radiolist input[type="radio"] {
  margin: 5px 10px 0px 0px;
}
@font-face {
  font-family: 'LexendDeca-Regular';
  src: url('../fonts/LexendDeca-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LexendDeca-Light';
  src: url('../fonts/LexendDeca-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LexendDeca-Thin';
  src: url('../fonts/LexendDeca-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}
/*clearfix css*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/*clearfix css end*/
.headerMain{
  background-color: #fff;
}
header {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  padding: 0px 0px;
  max-width:1170px;
  margin: 0px auto;
  border-bottom: #edefee solid 1px;
  position: relative;
}
header .logo {
  align-items: flex-start;
}
header ul {
  align-items: flex-end;
  padding: 20px 0px 0px;
}
header ul li {
  margin: 0px;
  padding: 0px 0px 0px 25px;
  list-style: none;
  text-align: center;
  float: left;
  position: relative;
}
header ul li a {
  margin: 0px;
  padding: 0px;
  font-family: 'LexendDeca-Regular';
  font-size: 14px;
  line-height: 18px;
  color: #8d8d8d;
}
.activeItem{
  color: #c0b29b;
}
header ul li a span{
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 25px;
}
.hearoSection{
  background-color: #F6F1E9;
  width: 100%;
  display: block;
}
.hearoSectionContent{
  max-width: 1170px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 15px 0px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.hearoSectionContent div{
  width: 50%;
  position: relative;
}
.hearoSectionContent div h1{
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
.hearoSectionContent div h1 span{
  color: #666;
  font-size: 24px;
  line-height: 28px;
  padding-top: 5px;
  display: block;
}
.hearoSectionContent div p{
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-family: 'LexendDeca-Light';
  max-width: 200px;
  padding: 0px 0px 15px;
}
.hearoSectionContent div button{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: 'LexendDeca-Light';
  padding:10px;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 5px;
  border: none;
  min-width: 200px;
  cursor: pointer;
  margin: 0px 0px 15px;
}
.heroImg{
  position: absolute;
  right: 0px;
  border-radius: 5px;
  bottom: -50px;
}
footer {
  width: 100%;
  display: block;
  background-color: #fff;
}
footer .fcontainer {
  margin: 0px auto;
  padding: 15px 0px;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .fcontainer ul{
   margin: 0px;
   padding: 15px;
   box-sizing: border-box;
   list-style: none;
   display: block;
}
footer .fcontainer ul li{
  margin: 0px;
  padding: 5px 15px;
  box-sizing: border-box;
  text-align: left;
  font-family: 'LexendDeca-Regular';
  font-size: 16px;
  line-height: 20px;
  color: #000;
  display: block;
}
footer .fcontainer ul li a{
  padding:0px;
  text-align: left;
  font-family: 'LexendDeca-Light';
  font-size: 14px;
  line-height: 18px;
  color: #8d8d8d;
  display: block;
}
footer .fcontainer img {
  padding: 15px 0px 0px;
}
.container {
  display: block;
  margin: 0px auto;
  padding: 15px 0px;
  max-width: 1170px;
}
.container h2{
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding: 60px 0px;
  box-sizing: border-box;
}
.container h3{
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding: 15px 0px;
  box-sizing: border-box;
}
.container h4{
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 0px;
  box-sizing: border-box;
}
.container h2 button{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: 'LexendDeca-Light';
  padding:10px;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 5px;
  border: none;
  float: right;
  min-width: 200px;
  cursor: pointer;
  margin: 0px 0px 15px;
}
ul.productList{
  margin: 0px;
  padding: 0px 0px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  flex-direction: row;
  justify-content: space-between;
}
ul.productList li{
  padding: 0px;
  margin: 0px 0px 30px;
  box-sizing: border-box;
  background-color: #fff9f4;
  border-radius: 16px;
}
ul.productList li img{
  margin: 0px auto;
  display: block;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
ul.productList li h3{
  color: #8d8d8d;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 15px;
  box-sizing: border-box;
}
ul.productList li h3 span{
  color: #B4846C;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  text-align: right;
  float: right;
}
ul.productList li p{
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  box-sizing: border-box;
}
ul.productList li button{
  border: none;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px auto 15px;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  color: #747474;
  font-family: 'LexendDeca-Regular';
  background-color: #f9ddcf;
  border-radius: 25px;
}
ul.productList li button:disabled {
  /* background-color: #999;
  color: #555;
  cursor: not-allowed; */
  display: none;
}
ul.productList li button img{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  right: 10px;
}
.testimonialsBlock{
  background-color: #fff;
  width: 100%;
  display: block;
  padding: 90px 0px;
  box-sizing: border-box;
}
.testimonialsBlock h3 {
  color: #000;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  padding:15px 0px;
  box-sizing: border-box;
}
ul.testimonialsList{
  margin: 0px;
  padding: 60px 0px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  flex-direction: row;
  justify-content: space-between;
}
ul.testimonialsList li{
  padding: 15px 0px 20px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #F6F1E9;
  position: relative;
  border-radius: 5px;
}
ul.testimonialsList li img{
  margin: 0px 15px 15px;
  float: left;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
ul.testimonialsList li h5{
  color: #495e57;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  left: 130px;
  top: 30px;
}
ul.testimonialsList li p{
  color: #000;
  clear: both;
  font-size: 14px;
  line-height: 20px;
  font-family: 'LexendDeca-Light';
  padding: 5px 15px 15px;
  box-sizing: border-box;
}
.hoemAboutSec{
  background-color: #f7f7f7;
  width: 100%;
  display: block;
  padding: 30px 0px;
  box-sizing: border-box;
}
.hoemAboutSecContent {
  margin: 0px auto;
  padding: 15px 0px;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.hoemAboutSecContent img{
  float: right;
}
.hoemAboutSecContent h4 {
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding:15px 0px;
  box-sizing: border-box;
}
.hoemAboutSecContent h4 span{
  font-size: 24px;
  line-height: 28px;
  color: #666;
  padding-top: 5px;
  display: block;
}
.hoemAboutSecContent p{
  max-width: 400px;
}
.cartMenu{
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: #f7f7f7;
  width: 300px;
  height: 340px;
  border-radius: 16px;
  z-index: 9;
  box-shadow: 0px 0px 7px #d6d6d6;
}
.cartMenu ul{
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  list-style: none;
  display: block;
}
.cartMenu ul li{
  margin: 0px 0px 10px;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  clear: both;
  overflow: auto;
  width: 100%;
}
.cartMenu ul li img{
 float: left;
 width: 50px;
 height: 50px;
 border-radius: 5px;
}
.cartMenu ul li p{
  float: left;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  padding: 5px;
  box-sizing: border-box;
 }
 .cartMenu ul li p span{
  font-size: 12px;
  line-height: 16px;
  display: block;
 }
 .cartMenu ul li button{
  float: right;
  border: none;
  color: red;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  margin-top: 15px;
  cursor: pointer;
 }
 .cartMenu dd{
   font-size: 16px;
   line-height: 20px;
   padding: 10px 15px;
   box-sizing: border-box;
   color: #18181c;
   margin: 0px;
   font-family: 'LexendDeca-Regular';
 }
 .cartMenu .checkOutBtn{
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 15px 15px;
  border: none;
  background-color: #000;
  box-sizing: border-box;
  width: 90%;
  display: block;
  color: #fff;
  cursor: pointer;
  font-family: 'LexendDeca-Regular';
}
.main-wrapper{
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}
.responsive-table{
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
}
.responsive-table > table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.responsive-table > table thead{
  background-color: #edefee;
}
.responsive-table > table tbody{
  background-color: #FAFAFA;
}
.responsive-table > table tbody tr {
 border-bottom: #E1E1E1 solid 1px;
}
.responsive-table > table thead, tr, th {
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  font-family: 'LexendDeca-Regular';
  font-weight: normal;
  box-sizing: border-box;
  color: #000;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
}
.responsive-table > table tbody, tr, td {
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  font-family: 'LexendDeca-Light';
  font-weight: normal;
  box-sizing: border-box;
  color: #919EA8;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
}
.responsive-table > table tbody, tr, td img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.tableCrros{
  color: red;
  text-align: center;
  display: block;
  padding: 2px 5px;
  margin: 2px 0px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border:none;
  cursor: pointer;
}
.reserveBtn {
  width: 250px;
  float: right;
  background-color: #000;
  color: #fff;
  border: none;
  height: 44px;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}
.error {
  color: #f10000;
  font-size: 12px;
  display: block;
  padding: 5px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 110;
  background-color: rgba(0, 0, 0, .5);
}
.successBox {
  background-color: #ffffff;
  width: 600px;
  min-height: 200px;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50px;
  z-index: 120;
  margin: 0px auto;
}
.successBox p {
  font-size: 12px;
  line-height: 16px;
  padding: 15px 0px;
  color: #000;
  font-family: 'LexendDeca-Light';
  border-bottom: #dfdfdf solid 1px;
}
.successBox p strong {
  display: block;
  padding: 0px 0px 5px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'LexendDeca-Light';
  text-shadow: none;
}
.successBox ul{
  margin: 0px;
  padding:5px 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.successBox ul li{
  padding: 5px;
  margin:0px;
  font-size: 12px;
  line-height: 14px;
  box-sizing: border-box;
  border-radius: 40px;
  position: relative;
}
.successBox ul li span{
  padding-top: 15px;
  display: inline-block;
}
.successBox ul li img{
  width: 50px;
  height: 50px;
}
.successBoxImg{
  width: 23px !important;
  height: 23px !important;
  vertical-align: middle !important;
  margin-right: 5px !important;
}
.successBoxBtn{
   float: right;
   margin: 15px 0px 10px 15px;
   background-color: #7D5A50;
   color: #fff;
   font-size: 12px;
   line-height: 16px;
   padding: 5px 15px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
}
.close {
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  padding: 15px;
  font-size:18px;
  font-weight: bold;
  cursor: pointer;
}
.hamburgerMenu{
    position: absolute;
    right: 15px;
    top: 30px;
    display: none;
}
.resMenuShow{
  display: block;
}
.resMenuHide{
  display: none; 
}
.disableBtn{
    cursor: not-allowed !important;
    pointer-events: none!important;
    color: #a1a1a1!important;
    background-color: #d5d5d5!important;
    border: none!important;
    width: 90%!important;
    padding: 10px!important;
    box-sizing: border-box!important;
    margin: 10px auto 15px!important;
    display: block!important;
    text-align: center!important;
    font-size: 16px!important;
    line-height: 20px!important;
    font-family: 'LexendDeca-Regular'!important;
    border-radius: 16px!important;
}
.reservationsBlock{
  background-color: #B4846C;
  display: block;
  padding: 15px 0px;
}
.reservationsBlock h3{
  color: #fff;
}
.reservationsFormBlock{
  padding: 15px 0px;
  display: block;
  clear: both;
}
.reservationsFormBlock div{
  clear: both;
}
.venueSelect{
  color: #000;
  font-size: 14px;
  font-family: 'LexendDeca-Regular';
  padding: 10px 0px;
  display: block
}
.venueSelect input[type="radio"] {
  margin: 5px 10px 0px 0px;
}
.gridContainer1{
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 375px 375px;
  flex-direction: row;
  justify-content: space-between;
}
.customDrop{
   width: 100%;
   border-radius:5px;
   margin:0px 0px 10px 0px;
   float: left;
   background-color: #f8f8f8;
   position: relative;
}
.customDrop button{
  display: block;
  background-color: #F6F1E9;
  border-radius:5px;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'LexendDeca-Regular';
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: left;
  z-index: 5;
}
.customDrop button dd{
  margin: 0px;
  display: inline;
  position: relative;
  top: 3px;
}
.customDrop button .leftImg{
  float: left;
  position: relative;
  margin-right: 10px;
}
.customDrop button .rightiImg{
  float: right;
  position: relative;
  top: 8px;
}
.customDrop ul{
  margin: -7px 0px 0px;
  padding: 15px 0px 0px; 
  border-radius: 0px 0px 10px 10px;
  list-style: none;
  display: block;
  background-color: #F6F1E9;
  overflow: auto;
  width: 100%;
  z-index: 3;
  position: absolute;
}
.customDrop ul li{
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: block;
  border-bottom:#6c7472 solid 1px ;
}
.customDrop ul li a{
  padding: 15px;
  box-sizing: border-box;
  font-family: 'LexendDeca-Regular';
  font-size: 14px;
  line-height: 18px;
  display: block;
  color: #495e57;
  cursor: pointer;
}
.customDataStyle{
  background-color: #F6F1E9;
  color: #495e57;
  border: none;
  font-family: 'LexendDeca-Regular';
  padding: 16px;
  border-radius: 10px;
  width: 92%;
  margin:0px 0px 10px 0px;
  font-size: 14px;
}
input[type="date" i] {
  font-size: 16px;
}
.reservationsForm{
  margin: 0px 0px 5px;
}
.reservationsForm label{
  display: block;
  font-size: 14px;
  padding: 10px 5px;
  font-family: 'LexendDeca-Regular';
  color: #fff;
} 
.reservationsForm input[type=text] {
  width: 100%;
  height: 44px;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff9f4;
  font-family: 'LexendDeca-Regular';
  border-radius: 25px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.reservationsForm textarea {
  width: 100%;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff9f4;
  font-family: 'LexendDeca-Regular';
  border-radius:25px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.fetchInfo{
  position: relative;
}
.fetchInfo p{
  padding: 10px 0px;
  color: #fff;
  font-family: 'LexendDeca-Regular';
  font-size: 12px;
  text-align: left;
  width: 50%;
  float: left;
}
.fetchInfo p:nth-child(1){
  font-size: 16px;
}
.fetchInfo p img{
  vertical-align: middle;
  margin-right: 15px;
}
.editInfoBtn{
  background-color: transparent;
  border: none;
  float: left;
  cursor: pointer;
  padding: 7px 0px 0px 0px;
}
ul.restaurantsList{
   list-style: none;
   margin: 15px 0px;
   padding: 0px;
   list-style: none;
   display: grid;
   grid-template-columns: 275px  275px  275px 275px;
   flex-direction: row;
   justify-content: space-between;
}
ul.restaurantsList li{
  margin: 15px 0px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #d3d3d3;
  border-radius: 10px;
}
ul.restaurantsList li img{
  margin: 0px auto;
  width: 100%;
  display: block;
}
ul.restaurantsList li p{
   font-size: 16px;
   line-height: 20px;
   color: #18181c;
   font-family: 'LexendDeca-Regular';
}
ul.restaurantsList li p span{
  font-size: 14px;
   line-height: 18px;
   color: #18181c;
   display: block;
   padding-top: 10px;
}
ul.restaurantsList li button{
  display: block;
  width: 100%;
  border: none;
  margin: 15px auto 0px;
  background-color: #f3cd14;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.reservationFilterBlock{
  display: block;
  padding: 0px 0px 30px;
}
.reservationFilterBlock ul{
  margin: 0px;
  padding: 15px 0px;
  list-style: none;
  display: flex;
  clear: both;
  flex-direction: row;
  justify-content: space-between;
}
.reservationFilterBlock ul li{
  list-style: none;
  text-align: center;
  width: 100px;
  margin: 0px 0px 10px 0px;
}
.reservationFilterBlock ul li img{
  display: block;
  margin: 0px auto 10px;
  width: 36px;
}
.reservationFilterBlock ul li a{
  padding: 10px;
  display: block;
  margin: 5px 0px;
  font-size: 12px;
  box-sizing: border-box;
  font-family: 'LexendDeca-Light';
  border-radius: 5px;
  cursor: pointer;
}
.tabClick{
  background-color: #fff;
  color: #999;
  border: #e1e1e1 solid 1px;
}
.tabActive{
  background-color: #F6F1E9;
  color: #000;
  border: #e1e1e1 solid 1px;
}
.filterLeft{
  float: left;
  width: 250px;
}
.filterLeft label{
  color: #000;
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-family: 'LexendDeca-Regular';
  padding: 0px 0px 10px;
  box-sizing: border-box;
}
.filterLeft select {
  display: block;
  border: #ccc solid 1px;
  font-family: 'LexendDeca-Regular';
  width:100%;
  padding: 5px;
  font-size: 12px;
  border-radius:5px;
  margin-bottom: 15px;
}
.fiterRight{
  float: right;
  width: 250px;
}
.fiterRight label{
  color: #000;
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-family: 'LexendDeca-Regular';
  padding: 0px 0px 10px;
  box-sizing: border-box;
}
.fiterRight input {
  display: block;
  border: #ccc solid 1px;
  font-family: 'LexendDeca-Regular';
  width: 94%;
  padding: 5px;
  font-size: 12px;
  border-radius:5px;
  margin-bottom: 15px;
}
.reservationListBlock{
  display: block;
  padding: 30px 0px;
}
.reservationListBlock ul{
  margin: 0px;
  padding: 0px 0px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 225px 225px 225px 225px 225px;
  flex-direction: row;
  justify-content: space-between;
}
.reservationListBlock ul li{
  padding: 5px;
  margin: 0px 0px 70px;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  min-height: 180px;
}
.reservationListBlock ul li img{
  margin: -55px auto 0px;
  display: block;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #dcdfe1;
}
.reservationListBlock ul li h1{
  color: #8d8d8d;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 5px 5px;
  box-sizing: border-box;
}
.reservationListBlock ul li h1 span{
  color: #666;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding-top: 5px;
}
.reservationListBlock ul li h1 span img{
  vertical-align: middle;
  padding: 5px 0px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  box-shadow: none;
}
.reservationListBlock ul li p{
  color: #000;
  font-size: 11px;
  line-height: 13px;
  padding: 5px 5px;
  box-sizing: border-box;
}
.reservationListBlock ul li p label{
  color: #000;
  display: block;
  font-size: 11px;
  line-height: 13px;
  font-family: 'LexendDeca-Regular';
  padding: 0px 0px 5px;
  box-sizing: border-box;
}
.reservationListBlock ul li select {
  float: left;
  font-family: 'LexendDeca-Light';
  width: 160px;
  padding: 6px 2px;
  border: none;
  color: #666;
  font-size: 11px;
  margin: 10px 0px 0px 5px;
  border-radius: 5px;
  background-color: #F6F1E9;
}
.addBtn{
  padding: 3px 4px;
  box-sizing: border-box;
  margin: 10px 4px 0px 0px;
  float: right;
  text-align: center;
  cursor: pointer;
  background-color: #F6F1E9;
  border-radius: 5px;
  border: none;
}
.addBtn img{
  width: 20px !important;
  height: 20px;
  box-shadow: none !important;
  margin: 0px !important;
  background: transparent !important;
}
.addBtn:disabled {
  background: #d5d5d5;
  color: #555;
  cursor: not-allowed;
}
.editBtn{
  padding: 0px 1.5px;
  box-sizing: border-box;
  margin: 10px 4px 0px 0px;
  float: right;
  text-align: center;
  cursor: pointer;
  background-color: #F6F1E9;
  border-radius: 5px;
  border: none;
}
.editBtn:disabled {
  display: none;
}
.editBtn img{
  width: 27px !important;
  height: 27px;
  box-shadow: none !important;
  margin: 0px !important;
  background: transparent !important;
}
.cancelBtn{
  padding: 3px 4px;
  box-sizing: border-box;
  margin: 10px 4px 0px 0px;
  float: right;
  text-align: center;
  cursor: pointer;
  background-color: #F6F1E9;
  border-radius: 5px;
  border: none;
}
.cancelBtn img{
  width: 20px !important;
  height: 20px;
  box-shadow: none !important;
  margin: 0px !important;
  background: transparent !important;
}
.cancelBtn:disabled {
  /* background: #d5d5d5;
  color: #555;
  cursor: not-allowed; */
  display: none;
}
.addBtn2 {
  padding: 6px;
  box-sizing: border-box;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 94%;
  line-height: 18px;
  cursor: pointer;
  color: #666;
  font-family: 'LexendDeca-Regular';
  background-color: #F6F1E9;
  border-radius: 5px;
  border: none;
}
.addBtn2:disabled {
  display: none;
}
.qtyCtrl{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.qtyCtrl button{
  border: none;
  width: 30px;
  padding: 6px;
  box-sizing: border-box;
  margin:10px 10px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  color: #666;
  font-family: 'LexendDeca-Regular';
  background-color: #F6F1E9;
  border-radius: 5px;
  border: none;
}
.qtyCtrl p{
  padding: 18px 0px 0px !important;
}
.fetchInfo1{
  display: block;
  padding: 15px;
  margin: 15px 15px;
  box-sizing: border-box;
  background-color: #f6f1e9;
  border-radius: 5px;
  position: relative;
}
.fetchInfo1 img{
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px 0px 10px;
}
.fetchInfo1 p{
  margin: 0px;
  padding:10px 0px;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  display: block;
  clear: both;
}
.fetchInfo1 p span{
  text-align: right;
  float: right;
}
.fetchInfo1 p span img{
  width: 13px;
  height: 13px;
  vertical-align: middle;
  display: inline;
  margin: 0px;
}
.fetchInfo1 button{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
}
.fetchInfo1 button img{
  width: 24px;
  height: 24px;
}




.scrolleItems{
  width: 400px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-between;
}
.scrolleItems div{
  width: 100px;
}
.checkoutleftblock{
  float: left;
  width: 800px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}
.checkoutleftblock h2{
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding:0px 0px 15px;
  box-sizing: border-box;
}
.fieldBox{
  display: block;
}
.fieldBox label{
  display: block;
  font-size: 12px;
  padding: 5px 0px;
  color: #000;
} 
.fieldBox input[type=text] {
  width: 100%;
  height: 34px;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.fieldBox input[type=email] {
  width: 100%;
  height: 34px;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.textareaBox{
  width: 98%;
  float: left;
  margin-right: 15px;
}
.textareaBox label{
  display: block;
  font-size: 12px;
  padding: 5px 0px;
  color: #000;
} 
.textareaBox textarea {
  width: 100%;
  color: #000;
  resize: none;
  padding: 15px;
  box-sizing: border-box;
  border: #ccc solid 1px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
.paymentSelectionBox{
  background-color: #fff;
  margin:0px 0px 15px;
  display: block;
  padding: 15px;
  box-sizing: border-box;
  border: #ccc solid 1px;
  border-radius: 5px;
}
.paymentSelectionBox label{
  color: #000;
  font-size: 14px;
  font-family: 'LexendDeca-Regular';
  padding-right: 30px;
}
.paymentSelectionBox input[type="radio"] {
  margin: 5px 10px 0px 0px;
}
.paymentform{
  display: block;
  box-sizing: border-box;
  padding: 0px 0px 15px;
  background-color: #fff;
  width: 50%;
}
.paymentform h4{
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding:0px 0px 15px;
  box-sizing: border-box;
}
.paymentform label{
  display: block;
  font-size: 12px;
  padding: 10px 0px;
  color: #000;
  clear: both;
}
.paymentfield1{
  width: 100%;
}
.paymentfield2{
  width: 50%;
  float: left;
}
.paymentinput1 {
  width: 99%;
  height: 34px;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.paymentinput2 {
  width: 98%;
  float: left;
  height: 34px;
  color: #000;
  border: #ccc solid 1px;
  background-color: #fff;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.paymentform button {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 15px 0px 0px;
  border: none;
  background-color: #000;
  box-sizing: border-box;
  width: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
  font-family: 'LexendDeca-Regular';
  border-radius: 5px;
}
.checkoutrightblock{
  float: right;
  width: 355px;
  background-color: #fff;
  border-radius: 5px;
}
.checkoutrightblock h3{
   color: #000;
   font-size: 16px;
   line-height: 20px;
   padding:15px 15px 0px;
   box-sizing: border-box;
}
.checkoutrightblock ul{
   margin:0px;
   padding:0px;
   list-style: none;
   display: block;
}
.checkoutrightblock ul li{
  margin:0px;
  padding: 25px 15px 0px;
  box-sizing: border-box;
  text-align: left;
  display: block;
  clear: both;
  position: relative;
  border-bottom: #f7f7f7 solid 1px;
  overflow: auto;
}
.checkoutrightblock ul li p{
  margin:0px;
  padding: 0px 0px 2px;
  font-size: 11px;
  color: #000;
  font-family: 'LexendDeca-Regular';
}
.checkoutrightblock ul li p:nth-child(3){
  color: green;
}
.checkoutrightblock ul li img{
  vertical-align: middle;
  margin-right: 10px;
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 5px;
}
.checkclosebtn{
  position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px 6px;
    font-size: 12px;
    cursor: pointer;
    color: red;
    border: none;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 5px;
}
.paralimit{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  color: #646363 !important;
}
.qtyCtrl2{
  float: right;
  position: relative;
  top: -25px;
  background-color: #fff;
  border: #ccc solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
.qtyCtrl2 button{
  box-sizing: border-box;
  padding: 3px 6px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: transparent;
}
.qtyCtrl2 span{
  padding: 0px 5px;
  font-size: 11px;
  display: inline-block;
}
.billBox{
  display: block;
  padding: 15px;
  box-sizing: border-box;
}
.billBox p{
  padding: 5px 0px;
  text-align: left;
  clear: both;
  font-family: 'LexendDeca-Regular';
  font-size: 14px;
  line-height: 18px;
  color: #646363;
  border-bottom: #d8d8d8 dashed 2px;
}
.billBox p span{
  text-align: right;
  float: right;
  color: #000;
}
.billBox button{
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 15px 0px;
  border: none;
  background-color: #000;
  box-sizing: border-box;
  width: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
  font-family: 'LexendDeca-Regular';
  border-radius: 5px;
}
.billBox button:disabled {
  background: #d5d5d5;
  color: #555;
  cursor: not-allowed;
}




.listbox{
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style: none;
  flex-wrap: nowrap;
  border-radius:12px;
  padding:0px;
  margin: 15px 0px;
}
.listbox li {
 height: 10px;
}




/* pagination css */
.pagination-data{
  padding: 0;
  margin: 0;
}
.pagination-data li{
  list-style: none;
  font-size: 12px;
}
.table-filter-info{
  padding : 15px;
}
.thead-primary tr th {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #fff;
}
.rc-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rc-pagination-item,
.rc-pagination-prev, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-next {
    margin-right: 8px;
}
.rc-pagination-total-text{
  margin-right: 12px;
  cursor: initial;
}
.rc-pagination-jump-next, 
.rc-pagination-jump-prev, 
.rc-pagination-next, 
.rc-pagination-prev {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    color: rgba(0,0,0,.85);
    font-family: Arial;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}
.rc-pagination-jump-next button, 
.rc-pagination-jump-prev button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
}
.rc-pagination-jump-next button:after, 
.rc-pagination-jump-prev button:after {
    display: block;
    content: "•••";
}
.buttonstyle{
  background-color: transparent;
  padding: 6px 8px !important;
}
.buttonstyle img{
   width: 24px;
   height: 24px;
}
.rc-pagination-item, 
.rc-pagination-prev, 
.rc-pagination-next, 
.rc-pagination-total-text {
    min-width: initial;
    height: auto;
    line-height: initial;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rc-pagination-item a, 
.rc-pagination-item button, 
.rc-pagination-prev a, 
.rc-pagination-prev button, 
.rc-pagination-next a, 
.rc-pagination-next button,
.rc-pagination-total-text a, 
.rc-pagination-total-text button {
    padding:3px 3px;
    height: auto;
    min-width: 32px;
    min-height: 32px;
    border-radius:5px;
    border: 1px solid transparent;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #656f84 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a, 
.rc-pagination-item.rc-pagination-item-active a:hover, 
.rc-pagination-prev.rc-pagination-item-active a, 
.rc-pagination-prev.rc-pagination-item-active a:hover, 
.rc-pagination-next.rc-pagination-item-active a, 
.rc-pagination-next.rc-pagination-item-active a:hover, 
.rc-pagination-total-text.rc-pagination-item-active a, 
.rc-pagination-total-text.rc-pagination-item-active a:hover {
  background-color: #f6f1e9;
  border-color: #f6f1e9;
  color: #000 !important;
}
.rc-pagination-item a:hover, 
.rc-pagination-item button:hover, 
.rc-pagination-prev a:hover, 
.rc-pagination-prev button:hover, 
.rc-pagination-next a:hover, 
.rc-pagination-next button:hover, 
.rc-pagination-total-text a:hover, 
.rc-pagination-total-text button:hover {
    background-color: #eceff5;
    border-color: #eceff5;
}
/* pagination css */




























/* -----------------responsive media querys--------------- */

@media only screen and (min-width: 1680px) and (max-width: 1920px) {}
@media only screen and (min-width: 1440px) and (max-width: 1680px) {}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {}
@media (min-width: 1024px) {}
@media (min-width: 768px) and (max-width: 1024px){}
@media (min-width: 768px) and (max-width: 999px) {
  .resMenuShow{
    display: none;
  }
  .resMenuHide{
    display: block;
  }
  header {
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
  }
  header ul {
    align-items: flex-start;
    padding: 5px 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  header ul li {
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: left;
    float: none;
    border-bottom: #ccc solid 0.5px;
  }
  header ul li a span {
    top: 15px;
    right: 15px;
  }
  .cartMenu {
    position: relative;
    right: 0px;
    top: 15px;
    background-color: #f7f7f7;
    width: auto;
  }
  .hamburgerMenu{
    display: block;
  }
  .hearoSectionContent {
    width: 100%;
    padding: 15px;
    flex-direction: row;
  }
  .hearoSectionContent div {
    width: 50%;
  }
  .heroImg {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 15px auto;
    display: block;
  }
  .container {
    width: 100%;
  }
  .container h2 {
    font-size: 26px;
    line-height: 30px;
    padding: 15px;
  }
  .container h2 button {
    float: none;
    margin: 15px 15px 0px;
  }
  ul.productList {
    grid-template-columns: 50% 50%;
  }
  ul.productList li {
    margin: 0px 15px 30px;
  }
  .testimonialsBlock {
    padding: 30px 0px;
  }
  ul.testimonialsList {
    padding: 30px 0px 30px;
    grid-template-columns: 50% 50%;
  }
  ul.testimonialsList li {
    padding: 15px 15px 20px;
  }
  ul.testimonialsList li h5 {
    left: 140px;
  }
  .hoemAboutSecContent {
    padding: 15px;
    width: 100%;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
  }
  .hoemAboutSecContent img {
    float: none;
    max-width: 100%;
  }
  footer .fcontainer {
    width: 100%;
    grid-template-columns: 50% 50%;
  }
  footer .fcontainer img {
    padding: 15px 15px 0px;
    max-width: 100%;
  } 
  .container h3 {
    padding: 15px 15px;
  }
  p {
    padding: 15px 15px;
  }
  .container h4 {
    padding: 15px 15px;
}
.reserveBtn {
  margin: -120px 15px 0px;
}
.successBox {
  width: 90%;
}

}
@media only screen and (min-width: 768px) {}
@media (max-width: 767px) {
.resMenuShow{
  display: none;
}
.resMenuHide{
  display: block;
}
header {
  flex-direction: column;
  padding: 15px 15px;
  width: 100%;
}
header ul {
  align-items: flex-start;
  padding: 5px 0px;
  margin: 0px;
  box-sizing: border-box;
}
header ul li {
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: left;
  float: none;
  border-bottom: #ccc solid 0.5px;
}
header ul li a span {
  top: 15px;
  right: 15px;
}
.cartMenu {
  position: relative;
  right: 0px;
  top: 15px;
  background-color: #f7f7f7;
  width: auto;
}
.hamburgerMenu{
  display: block;
}
.hearoSectionContent {
  width: 100%;
  padding: 15px;
  flex-direction: column;
}
.hearoSectionContent div {
  width: auto;
}
.heroImg {
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 15px auto;
  display: block;
}
.container {
  width: 100%;
}
.container h2 {
  font-size: 26px;
  line-height: 30px;
  padding: 15px;
}
.container h2 button {
  float: none;
  margin: 15px 0px 0px;
}
ul.productList {
  grid-template-columns: 100%;
}
ul.productList li {
  margin: 0px 15px 30px;
}
.testimonialsBlock {
  padding: 30px 0px;
}
ul.testimonialsList {
  padding: 30px 0px 30px;
  grid-template-columns: 100%;
}
ul.testimonialsList li {
  padding: 15px 15px 20px;
}
ul.testimonialsList li h5 {
  left: 140px;
}
.hoemAboutSecContent {
  padding: 15px;
  width: 100%;
  grid-template-columns: 100%;
  box-sizing: border-box;
}
.hoemAboutSecContent img {
  float: none;
  max-width: 100%;
}
footer .fcontainer {
  width: 100%;
  grid-template-columns: 50% 50%;
}
footer .fcontainer img {
  padding: 15px 15px 0px;
  max-width: 100%;
}
.container h3 {
  padding: 15px 15px;
}
p {
  padding: 15px 15px;
}
.container h4 {
    padding: 15px 15px;
}
.reserveBtn {
  margin: 15px;
}
.successBox {
  width: 90%;
}

}
@media (max-width: 480px) {}